In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/citibike_2019_sample.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,1
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,1
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,1
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,1
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,1

In [3]:
len(df)

411032

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411032 entries, 0 to 411031
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             411032 non-null  int64
 1   starttime                411032 non-null  object
 2   stoptime                 411032 non-null  object
 3   start station id         411023 non-null  float64
 4   start station name       411023 non-null  object
 5   start station latitude   411032 non-null  float64
 6   start station longitude  411032 non-null  float64
 7   end station id           411023 non-null  float64
 8   end station name         411023 non-null  object
 9   end station latitude     411032 non-null  float64
 10  end station longitude    411032 non-null  float64
 11  bikeid                   411032 non-null  int64
 12  usertype                 411032 non-null  object
 13  birth year               411032 non-null  int64
 14  gender                   411032 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 47.0+ MB

In [5]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
411027,262,2019-12-27 17:28:32.1100,2019-12-27 17:32:54.4220,432.0,E 7 St & Avenue A,40.726218,-73.983799,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,41493,Subscriber,1995,2
411028,560,2019-12-06 08:56:35.5500,2019-12-06 09:05:56.0270,3697.0,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,16620,Subscriber,1961,1
411029,428,2019-12-12 11:35:42.2130,2019-12-12 11:42:50.7930,3306.0,10 St & 7 Ave,40.666208,-73.981999,3377.0,Carroll St & Bond St,40.678612,-73.990373,40075,Subscriber,1985,2
411030,626,2019-12-06 16:18:40.5640,2019-12-06 16:29:07.4200,533.0,Broadway & W 38 St,40.752996,-73.987216,116.0,W 17 St & 8 Ave,40.741776,-74.001497,39150,Subscriber,1986,1
411031,345,2019-12-13 18:46:53.4890,2019-12-13 18:52:38.7030,297.0,E 15 St & 3 Ave,40.734232,-73.986923,487.0,E 20 St & FDR Drive,40.733143,-73.975739,27442,Subscriber,1993,1